---
import Layout from "@/layouts/Layout.astro";

import bg from '@/assets/bg_404.jpg'

---

<Layout title="Página no encontrada"  bgImage={bg.src} subtitle="Página no encontrada">
<p class="text-center text-lg">
Tal vez quieras volver al 
<a href="/" class="text-coffee-600 font-bold hover:underline bg-coffee-100 rounded-md px-4 py-2 mx-2 hover:bg-coffee-400/50 ease-in-out transition-all duration-300">Inicio</a>
</p>
</Layout>
