---
import { pageAPIResponse } from "@/hooks/apiresponse";

const endpoint = "/posts";
const data = await pageAPIResponse(endpoint,'blogs');

// console.log(data);

---
<div>
    <h2>Desde blogPost</h2>
</div>
