---
const navigation = [
  {name: 'Inicio', href: '/' },
  {name: 'Nosotros', href: '/nosotros/' },
  {name: 'Blog', href: '/blog/' },
  {name: 'Proceso', href: '/proceso/' },
  {name: 'Menú', href: '/menu/' },
  {name: 'Galería', href: '/galeria/' },
  {name: 'Contacto', href: '/contacto/' },
]
---

<nav class="hidden md:flex space-x-10">
  {navigation.map(({name, href}) => (
    <a href={href} class="uppercase text-lg font-bold">
      {name}
    </a>
  ))}
</nav>
